:root{
    --celeste_marca: #00AEF0;
    --textos_oscuros: rgba(25, 24, 24, 0.9);
    --azul_oscuro: #095A78;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
html{ 
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

/* ================agregado del scroll=====================*/

.main__container {
  height: 100%;
  margin-top: 0px;
  position: sticky;
  top: 0px;
 
}

/* ================agregado del scroll=====================*/

nav{
    line-height: 0;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.navbar__container{
    width: 100%;
    height: auto;
    background-color: white;
}

.navbar_first__container{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

.navbar_first_items__container, .navbar_second_items__container{
    display: flex;
    align-items: center;
}

.navbar_first_items__container li, .navbar_second_items__container li{
    margin-left: 25px;
}

.menu a{
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--textos_oscuros);
}

.nav ul a:hover{
    background-color: none !important;
}

li{
    font-weight: 400;
    font-size: 1.6rem;
    list-style-type: none;
    color: var(--textos_oscuros);
}

.last24:hover, .last24:active{
    color: var(--celeste_marca);
}

.last24:active{
    font-weight: 500;
}

.user__name{
    margin-right: 0;
}

.user__img li{
    margin-right: 50px;
}

.navbar_second__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit{
    justify-self: flex-end;
    width: 18px;
    height: 18px;
}

.tabs{
    background-color: transparent;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.tab{
    overflow: hidden;
}

.tabs .tab a{
    text-transform: none;
    color: var(--textos_oscuros);
    font-size: 1.7rem;
}

.tabs .tab a.active{
    font-weight: 500;
    color: var(--celeste_marca);
}

.tabs .tab a:hover{
    color: var(--celeste_marca);
}

.tabs .tab a:focus{
    color: var(--celeste_marca);
}

.tabs .indicator{
    color: var(--celeste_marca);
    background-color: var(--celeste_marca);
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: transparent;
}

.tabs a {
    line-height: 30px;
}

.verticalDivider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left: 2px solid var(--azul_oscuro);
}

.news, .sections{
    margin-top: 65px;
}

.news h4, .sections h4{
    font-weight: 800;
    color: var(--azul_oscuro);
    line-height: 2.9rem;
}

.news ul, .sections ul{
    margin-top: 37px;
}

.news li, .sections li{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    height: 20px;
}

.dropdown-content li:hover{
    background-color: transparent;
    text-decoration: underline;
}




/* ================ ULTIMAS 24HS=====================*/

#pinContainer {
  width: 100%; 
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

#slideContainer {
  width: 400%;
  height: 100vh;
}

.panel {
  height: 100vh;
  width: 25%;
  float: left;
  text-align: center;
}

.text{
  margin-top: 100px;
  display: inline-block;
}

.one {
  background-color:  white;
  color: black;
}
.one button {
  display: block;
  margin: 0 auto;
}

.two {
  background-color:  white;
  color: black;
}

.three {
  background-color:  white;
  color: black;
  position: relative;
}

.four {
  background-color: white;
  color: black;
}

.timeline{
    margin-top: 145px;
    width: 300%;
    position: sticky;
}


/* ========================BLOQUES CARDS==========================*/


.block_1{
  display: inline-block;
  margin-right: 720px;
  margin-top: 1vh;
   
    
}

.main__container .panel .block_1 div:first-child{
    

    background-image: linear-gradient(359.97deg, rgba(0, 0, 0, 0.75) 35.61%, rgba(63, 62, 62, 0) 82.71%),
    url('data/news_1.png');

    display: flex;
    align-items: end;
    height: 356px;
    width: 602px;
    justify-content: space-around;
   


}

.main__container .panel .block_1 div:last-child  {
    
    height: 145px;
    width: 602px;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;  

    
}


.main__container .panel .block_1 div:last-child  div{
    
    height: 145px;
    width: 602px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin-left: 2%;
    margin-top: 10% ;
    margin-bottom: 10%  ;
    justify-content: space-between;
    
    
}

.white-tittle{
    text-align: start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 2%;
}

.black-tittle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    
    
}

.black-tittle_hour{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

}


.main__container .panel .block_1 div:last-child  img{
    
    width: auto;
    height: 80%;
    margin-left: 2%;
 
}


.news_img{
    width: 100%;
    height: auto;
}













/* ========================CARDS==========================*/

.news_image{
background: linear-gradient(359.97deg, rgba(0, 0, 0, 0.75) 35.61%, rgba(63, 62, 62, 0) 82.71%);
border-radius: 10px;
box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.2);
}

.news_image_text{
    border-radius: 10px;
    box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.2);
}